#up{background-image: linear-gradient(#ffffff,#d1d1d1;) 
 width:780px;
 height:354px;
}

    



/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-04-29, 13:34:36
    Author     : Seba
*/

