.up{
background:linear-gradient(#ffffff,#ffffff,#ffffff,#d1d1d1); 
 height:80px;
 width:780px;
 z-index:-1;
}
.menu{
height:39px;
width:780px;
position:absolute;
top:71px;
}
a.link {color:#FFFFFF;text-decoration:none;}
a.visited {color:#FFFFFF;text-decoration:none;}
a.hover {color:#FFFFFF;}  
a.active {color:#FFFFFF;}  
.menu1{
    font-size: 9px;
    text-shadow: 5px 5px 5px #999999;
    position:absolute;
    top:34px;
}
.kabel{
//background:linear-gradient(#6c6c6c,#999999);
height:37px;
width:780px;
}
.posZ{
position:fixed;
top:17px;
left:24px; 
}
.bHOME{position:fixed; top:17px; left:400px;}
.bSERV{position:fixed; top:17px; left:478px;}
.bCON{position:fixed; top:17px; left:548px;}
.bSEAR{position:fixed; top:17px; left:618px;}
.bSM{position:fixed; top:17px; left:688px;}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-04-29, 13:34:36
    Author     : Seba
*/

