@media only screen and (min-width : 800px) and (max-width : 1024px) {
.up{
background:linear-gradient(#ffffff,#ffffff,#ffffff,#d1d1d1); 
height:80px;
width:780px; 
z-index:0;
}
.upTABLE{
width:366px;
height:51px;
position:absolute;
top:14px;
left:380px;
//border:1px;
//border-collapse:collapse;
//border-style:dotted;
text-align:center;
}
.menu{
height:39px;
width:780px;
position:absolute;
top:71px;
}
.koles{
    position:relative;top:55px;
}
.kabell{
    position:relative;top:-138px;
}
.title1{
    font-size:23px;
    color:#5E5CA7;
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    left:77px;
    top:-6px;
    text-shadow:1px 0px 1px;
}
.title2{
    font-size:23px;
    color:#FFC600;
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    top:-6px;
    left:183px;
    text-shadow:1px 0px 1px;
}
.slogan{
    font-size:10px;
    color:#818181;
    position:absolute;
    left:80px;
    top:31px;
    font-family:Arial;
    font-weight:bold;
}
.menu2T{
    font-size:8px;
    color:#000000;
    font-family:DejaVu Sans;
    font-weight:lighter;
    position:relative;
    top:-15px;
}
a.link {color:#FFFFFF;text-decoration:none;}
a.visited {color:#FFFFFF;text-decoration:none;}
a.hover {color:#FFFFFF;}  
a.active {color:#FFFFFF;}  
.menu1{
    font-size: 10px;
    font-family:Helios;
    text-shadow: 1px 1px 1px #000000;
    position:absolute;
    top:33px;
    z-index:1;
}
.table1{
    border:1px solid black;
    border-collapse:collapse;
    color:#FFFFFF;
}
.solu{
    background:linear-gradient(#FFFFFF,#FFFFFF,#E6E6E6);
    height:36px;
    width:780px;
    position:absolute;
    top:271px; 
}
.serious{
    z-index:2;
    font-size:20px;
    font-weight:bold;
    color:#FF5A00;
    font-family:Helios;
    position:absolute;
    left:270px;
    }
.kreskaM{
    width:780px;
    color:#CECECE;
    background-color:#CECECE;
    height:1px;
    position:absolute;
    left:8px;
    top:300px; 
    border:0px;
}
.kreskaD{
    width:780px;
    color:#FFC600;
    background-color:#FFC600;
    height:11px;
    position:absolute;
    left:8px;
    top:302px; 
    border:0px;
}
.napis1{
    color:#8A8A8A;
    font-size:15px;
    position:absolute;
    left:20px;
    top:-9px;
}
.napis2{
    color:#8a8a8a;
    font-weight:bold;
    position:absolute;
    left:195px;
    top:-11px;
}
.napis3{
    color:#8a8a8a;
    font-size:11px;
    position:absolute;
    left:485px;
    top:-2px;
}
.napis4{
    color:#8a8a8a;
    font-weight:bold;
    position:absolute;
    left:568px;
    top:-11px;
}
.napis5{
    color:#8a8a8a;
    font-size:15px;
    position:absolute;
    left:592px;
    top:-9px;
}
.kabel{
//background:linear-gradient(#6c6c6c,#999999);
height:37px;
width:780px;
}
.posZ{
position:absolute;
top:0px;
left:24px; 
}
//.bHOME{position:absolute; top:14px; left:400px;}
//.bSERV{position:absolute; top:14px; left:478px;}
//.bCON{position:absolute; top:14px; left:548px;}
//.bSEAR{position:absolute; top:14px; left:618px;}
//.bSM{position:absolute; top:14px; left:688px;}
table.plan{
    width:610px;
    height:130px;
    position:absolute;
    top:322px;
    left:83px;
}
.plan1{
    background:linear-gradient(#94BCE5,#A0C4E8,#FEFEFF,#78AADE);
   //background:linear-gradient(rgb(148,188,229),rgb(173,204,235),rgb(255,255,255),rgb(120,170,222));
    width:204px;
    height:135px;
    position:absolute;
    top:322px;
    left:83px;
}
.plan2{
    background:linear-gradient(#E5AD94,#F0D0C2,#FEFEFF,#DE9778);
    width:204px;
    height:135px;
    position:absolute;
    top:322px;
    left:288px;
}
.plan3{
    background:linear-gradient(#94E5AD,#B9EEC9,#FEFEFF,#78DE97);
    width:204px;
    height:135px;
    position:absolute;
    top:322px;
    left:493px;    
}
.Bplan{
    font-size:17px;
    font-weight:bolder;
    font-family:DejaVu Sans;
    color:#014786;
    position:absolute;
    top:-10px;
    left:70px;
    z-index:2;
    letter-spacing:-2px;
}
.Splan{
    font-size:17px;
    font-weight:bolder;
    font-family:DejaVu Sans;
    color:#EA0D0C;    
    position:absolute;
    top:-10px;
    left:70px;
    z-index:2;
    letter-spacing:-2px;
}
.BUSplan{
    font-size:17px;
    font-weight:900;
    font-family:DejaVu Sans;
    color:#0E7D02;
    position:absolute;
    top:-10px;
    left:70px;
    z-index:2;    
    letter-spacing:-2px;
}
.TXTplan{
    font-size:12px;
    font-weight:lighter;
    font-family:Helios;
    color:#666565;
    z-index:2;
    position:relative;
    top:-210px;
    left:70px;
}
.kreska{
    position:absolute; 
    left:198px;    
}
.komp{
    position:relative; 
    top:-130px;
    left:20px;
}
.kompC{
    position:relative; 
    top:-97px;
    left:-17px;
    z-index:1;
    opacity:0.4;
}
.tekst{
    font-size:20px;
    font-weight:bold;
    z-index: 2;
}
.obramowanie{
    border-top-width:0px; 
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:6px;
}
.ramka1{
    border:1px solid black;
    border-collapse:collapse;
    border-top-width:1px; 
    border-bottom-width:1px;
    border-left-width:0px;
    border-right-width:1px;
    border-top-color:#CECECE;
    border-bottom-color:#CECECE;
    border-right-color:#CECECE;
    width:270px;
    height:46px;   
    position:absolute;
    top:459px;
    background:linear-gradient(#FFFFFF,#EBEBEB);
}
.ramka2{
    border:1px solid black;
    border-collapse:collapse;
    border-top-width:1px; 
    border-bottom-width:1px;
    border-left-width:0px;
    border-right-width:1px;
    border-top-color:#CECECE;
    border-bottom-color:#CECECE;
    border-right-color:#CECECE;
    width:509px;
    height:46px;   
    position:absolute;
    top:459px;
    left:279px;
    background:linear-gradient(#FFFFFF,#EBEBEB);
}
.file1{
    position:relative; 
    left:32px;
}
.comNEWS{
    font-size:11px;
    font-weight:bold;
    font-family:Tahoma;
    position:relative;
    left:-1px;
}
.blueline{
    height:11px;
    width:780px;
    position:absolute;
    left:8px;
    top:498px;
    color:#86ABD8;
    background-color:#86ABD8;
    border:0px;
}
table.down{
    width:780px;
    height:159px;
    position:absolute;
    top:517px;
    left:6px;
    border:1px solid black;
    border-collapse:collapse;
    border-top-color:#FFFFFF;
    border-bottom-color:#FFFFFF;
    border-left-color:#FFFFFF;
    border-right-color:#FFFFFF;
}
.folder1{
    float:left;  
    position:absolute;
    top:27px;
    left:300px;
}
.folder2{
    float:left;
    position:absolute;
    top:27px;
    left:550px;
}
.textMay1{
    color:#FF7500;
    font-size:15px;
    font-family:Tahoma;
    position:absolute;
    top:9px;
    left:326px;
}
.textMay2{
    color:#FF7500;
    font-size:15px;
    font-family:Tahoma;
    position:absolute;
    top:9px;
    left:579px;
}
.lorem1{
   font-size:11px;
   margin-left: 28px;
   margin-right: 28px;
   margin-top:26px;
   font-family:Tahoma;
}
.lorem2{
   font-size:11px;
   margin-left: 32px;
   margin-right: 32px;
   margin-top:26px;
   font-family:Tahoma;
}
.downMENU{
    width:780px;
    height:37px;
    background:linear-gradient(#6C6C6C,#999999);
    position:absolute;
    top:680px;
    font-size:10px;
    font-weight:bold;
    font-family:Tahoma;
    text-align:center;    
}
a.marg{
    position:relative;
    top:11px;
    margin-left:13px;
    margin-right:13px;
}
.stopka{
    background:linear-gradient(#D4D4D4,#FFFFFF,#FFFFFF);
    width:780px;
    height:80px;
    position:absolute;
    top:718px;
}
.copyright{
   text-align:center;
   font-size:11px;
   font-family:Tahoma;
}
.button{
    font-size:8px;
    text-align:center;
    font-family:DejaVu Sans;
    font-weight:lighter;
    margin-left:13px;
    margin-right:13px;
    margin-bottom:2px;
    margin-top:2px;   
}
}
@media only screen and (min-width : 1024px){
.up{
    background:linear-gradient(#ffffff,#ffffff,#ffffff,#d1d1d1); 
    height:80px;
    width:1024px; 
    z-index:0;
}
.upTABLE{
    width:700px;
    height:51px;
    position:absolute;
    top:14px;
    left:370px;
//border:1px;
//border-collapse:collapse;
//border-style:dotted;
    text-align:center;
}
.menu{
    height:39px;
    width:1024px;
    position:absolute;
    top:71px;
    left:122px;
}
.koles{
    position:relative;top:55px;
}
.kabell{
    position:relative;top:-138px;
}
.title1{
    font-size:25px;
    color:#5E5CA7;
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    left:77px;
    top:-6px;
    text-shadow:1px 0px 1px;
}
.title2{
    font-size:25px;
    color:#FFC600;
    font-family:Arial;
    font-weight:bold;
    position:absolute;
    top:-6px;
    left:186px;
    text-shadow:1px 0px 1px;
}
.slogan{
    font-size:12px;
    color:#818181;
    position:absolute;
    left:80px;
    top:31px;
    font-family:Arial;
    font-weight:bold;
}
.menu2T{
    font-size:11px;
    color:#000000;
    font-family:DejaVu Sans;
    font-weight:lighter;
    position:relative;
    top:-15px;
}
a.link {color:#FFFFFF;text-decoration:none;}
a.visited {color:#FFFFFF;text-decoration:none;}
a.hover {color:#FFFFFF;}  
a.active {color:#FFFFFF;}  
.menu1{
    font-size: 11px;
    font-family:Helios;
    text-shadow: 1px 1px 1px #000000;
    position:absolute;
    top:33px;
    z-index:1;
}
.table1{
    border:1px solid black;
    border-collapse:collapse;
    color:#FFFFFF;
}
.solu{
    background:linear-gradient(#FFFFFF,#FFFFFF,#E6E6E6);
    height:36px;
    width:1024px;
    position:absolute;
    top:271px; 
}
.serious{
    z-index:2;
    font-size:22px;
    font-weight:bold;
    color:#FF5A00;
    font-family:Helios;
    position:absolute;
    left:254px;
    }
.kreskaM{
    width:1024px;
    color:#CECECE;
    background-color:#CECECE;
    height:1px;
    position:absolute;
    left:8px;
    top:300px; 
    border:0px;
}
.kreskaD{
    width:1024px;
    color:#FFC600;
    background-color:#FFC600;
    height:11px;
    position:absolute;
    left:8px;
    top:302px; 
    border:0px;
}
.napis1{
    color:#8A8A8A;
    font-size:17px;
    position:absolute;
    left:120px;
    top:-9px;
}
.napis2{
    font-size:18px;
    color:#8a8a8a;
    font-weight:bold;
    position:absolute;
    left:335px;
    top:-11px;
}
.napis3{
    color:#8a8a8a;
    font-size:15px;
    position:absolute;
    left:695px;
    top:-5px;
}
.napis4{
    color:#8a8a8a;
    font-weight:bold;
    position:absolute;
    left:818px;
    top:-8px;
    font-size:16px;
}
.napis5{
    color:#8a8a8a;
    font-size:16px;
    position:absolute;
    left:845px;
    top:-8px;
}
.kabel{
//background:linear-gradient(#6c6c6c,#999999);
    height:37px;
    width:1024px;
}
.posZ{
    position:absolute;
    top:0px;
    left:24px; 
}
//.bHOME{position:absolute; top:14px; left:400px;}
//.bSERV{position:absolute; top:14px; left:478px;}
//.bCON{position:absolute; top:14px; left:548px;}
//.bSEAR{position:absolute; top:14px; left:618px;}
//.bSM{position:absolute; top:14px; left:688px;}
table.plan{
    width:1000px;
    height:130px;
    position:absolute;
    top:322px;
    left:83px;
}
.plan1{
    background:linear-gradient(#94BCE5,#A0C4E8,#FEFEFF,#78AADE);
   //background:linear-gradient(rgb(148,188,229),rgb(173,204,235),rgb(255,255,255),rgb(120,170,222));
    width:204px;
    height:135px;
    position:absolute;
    top:322px;
    left:83px;
}
.plan2{
    background:linear-gradient(#E5AD94,#F0D0C2,#FEFEFF,#DE9778);
    width:204px;
    height:135px;
    position:absolute;
    top:322px;
    left:408px;
}
.plan3{
    background:linear-gradient(#94E5AD,#B9EEC9,#FEFEFF,#78DE97);
    width:204px;
    height:135px;
    position:absolute;
    top:322px;
    left:733px;    
}
.Bplan{
    font-size:17px;
    font-weight:bolder;
    font-family:DejaVu Sans;
    color:#014786;
    position:absolute;
    top:-10px;
    left:70px;
    z-index:2;
    letter-spacing:-2px;
}
.Splan{
    font-size:17px;
    font-weight:bolder;
    font-family:DejaVu Sans;
    color:#EA0D0C;    
    position:absolute;
    top:-10px;
    left:70px;
    z-index:2;
    letter-spacing:-2px;
}
.BUSplan{
    font-size:17px;
    font-weight:900;
    font-family:DejaVu Sans;
    color:#0E7D02;
    position:absolute;
    top:-10px;
    left:70px;
    z-index:2;    
    letter-spacing:-2px;
}
.TXTplan{
    font-size:12px;
    font-weight:lighter;
    font-family:Helios;
    color:#666565;
    z-index:2;
    position:relative;
    top:-210px;
    left:70px;
}
.kreska{
    position:absolute; 
    left:198px;    
}
.komp{
    position:relative; 
    top:-130px;
    left:20px;
}
.kompC{
    position:relative; 
    top:-97px;
    left:-17px;
    z-index:1;
    opacity:0.4;
}
.tekst{
    font-size:20px;
    font-weight:bold;
    z-index: 2;
}
.obramowanie{
    border-top-width:0px; 
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:6px;
}
.ramka1{
    border:1px solid black;
    border-collapse:collapse;
    border-top-width:1px; 
    border-bottom-width:1px;
    border-left-width:0px;
    border-right-width:1px;
    border-top-color:#CECECE;
    border-bottom-color:#CECECE;
    border-right-color:#CECECE;
    width:400px;
    height:46px;   
    position:absolute;
    top:459px;
    background:linear-gradient(#FFFFFF,#EBEBEB);
}
.ramka2{
    border:1px solid black;
    border-collapse:collapse;
    border-top-width:1px; 
    border-bottom-width:1px;
    border-left-width:0px;
    border-right-width:1px;
    border-top-color:#CECECE;
    border-bottom-color:#CECECE;
    border-right-color:#CECECE;
    width:624px;
    height:46px;   
    position:absolute;
    top:459px;
    left:409px;
    background:linear-gradient(#FFFFFF,#EBEBEB);
}
.file1{
    position:relative; 
    left:32px;
}
.comNEWS{
    font-size:13px;
    font-weight:bold;
    font-family:Tahoma;
    position:relative;
    left:-1px;
}
.blueline{
    height:11px;
    width:1024px;
    position:absolute;
    left:8px;
    top:498px;
    color:#86ABD8;
    background-color:#86ABD8;
    border:0px;
}
table.down{
    width:1024px;
    height:159px;
    position:absolute;
    top:517px;
    left:6px;
    border:1px solid black;
    border-collapse:collapse;
    border-top-color:#FFFFFF;
    border-bottom-color:#FFFFFF;
    border-left-color:#FFFFFF;
    border-right-color:#FFFFFF;
}
.folder1{
    float:left;  
    position:absolute;
    top:27px;
    left:384px;
}
.folder2{
    float:left;
    position:absolute;
    top:27px;
    left:715px;
}
.textMay1{
    color:#FF7500;
    font-size:15px;
    font-family:Tahoma;
    position:absolute;
    top:9px;
    left:410px;
}
.textMay2{
    color:#FF7500;
    font-size:15px;
    font-family:Tahoma;
    position:absolute;
    top:9px;
    left:744px;
}
.lorem1{
   font-size:11px;
   margin-left: 28px;
   margin-right: 28px;
   margin-top:26px;
   font-family:Tahoma;
}
.lorem2{
   font-size:11px;
   margin-left: 32px;
   margin-right: 32px;
   margin-top:26px;
   font-family:Tahoma;
}
.downMENU{
    width:1024px;
    height:37px;
    background:linear-gradient(#6C6C6C,#999999);
    position:absolute;
    top:680px;
    font-size:12px;
    font-weight:bold;
    font-family:Tahoma;
    text-align:center;    
}
a.marg{
    position:relative;
    top:11px;
    margin-left:23px;
    margin-right:23px;
}
.stopka{
    background:linear-gradient(#D4D4D4,#FFFFFF,#FFFFFF);
    width:1024px;
    height:80px;
    position:absolute;
    top:718px;
}
.copyright{
   text-align:center;
   font-size:14px;
   font-family:Tahoma;
}
.button{
    font-size:8px;
    text-align:center;
    font-family:DejaVu Sans;
    font-weight:lighter;
    margin-left:13px;
    margin-right:13px;
    margin-bottom:2px;
    margin-top:2px;   
}
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-04-29, 13:34:36
    Author     : Seba
*/

